body {
  color: #D8DEE9;
  background-color: #2E3440;
}

.main {
  margin: auto;
  width: 50%;
}

.title {
  height: 250px;

  width: 100%;
  text-align: center;
  border: 3px solid white;
}

.hidden {
  display: none;
}

.console {
  margin-top: 50px;
  width: 100%;
  border: 3px solid white;
}

.line {
  white-space: pre;
}

.forminput {
  width: 100%;
  margin: 10px;
}

.footer {
  width: 50%;
  text-align: center;

  bottom: 0;
  position: fixed;
  border: 3px solid white;
}
